<div class="container-fluid col-md-offset-1">
  <h1>My Friends / Frenemies / Enemies</h1>
  {{#each contacts}}
  <br>
  <div class="row">
    <div class="col-sm-5"><img class="img-size" src="{{image}}"></div>
    <div class="col-sm-5">
      <h3>{{first}} {{last}}</h3>
      <<h3>{{review_description}}</h3>
      <p>Rating : {{rating}}</p>
      <a href="/snacks/{{this.id}}/edit">
        <input type="button" name="edit" value="EDIT">
      </a>
      <form class="delete" action="/snacks/{{this.id}}?_method=DELETE" method="POST">
        <input type="submit" name="delete" value="DELETE">
      </form>
    </div>
  </div>
  {{/each}}
</div>
