<!-- CONTACTS PAGE -->

<div class="container">
  <h1>My Friends / Frenemies / Enemies</h1>
  <hr>
  {{#each contacts}}
  <div class="row">
    <div class="col-md-3">
      <img src="{{this.image}}"
      class="contact-img">
    </div>
    <div class="col-md-7">
      <h2>{{this.first}} {{this.last}}</h2>
      <p>phone: {{this.phone}}</p>
      <p>email: {{this.email}}</p>
      <p>
        <form action="" method="">
          <input
          type="submit"
          class="btn btn-sm btn-danger"
          name="delete" value="GOODBYE">
        </form>
      </p>
    </div>
  </div>
  {{/each}}
</div>
